<html>
<head>
    <title>Base Instalada MA&TC 2019</title>
</head>
    <body>
        <div>
        <h1>Cuentas Directas</h1>
        <a href="https://philipscrm.my.salesforce.com/00O0W000005ZZo8">link</a>
        <h2>Fundación Cardioinfantil</h2>
        <h2>Centro Médico Imbanaco</h2>
        <h2>Christus Sinergía</h2>
        <h3>Clínica Farallones</h3>
        <h3>Clínica Palma Real</h3>
        <h2>Clínica Las Américas</h2>
        <h2>Fundación San Vivente de Paul</h2>
        <h2>Clínica General del norte</h2>
        <h2>Fundación Valle de Lili</h2>
        <p>Esta herramienta web funciona para visualizar la información de la base instalada de los clientes directos de Philips Colombiana S.A.S</p>
        <p>La información contenida especifica los siguientes items: Código de producto, Código de activo (para SalesForce), Código de activo (para ServiceMax), Número de Serie, Fecha de instalación, Fecha final de uso (vida útil estimada), Nombre del producto y Descripción </p>
    </div>
        <div>
        <ul>
            <li>FCI: Fundación Cardioinfantil</li>
            <li>CMI: Centro Médico Imbanaco</li>
            <li>ChS: Christus Sinergía</li>
            <li>CLA: Clínica Las Américas</li>
            <li>FSVP: Fundación San Vicente de Paul</li>
            <li>CGN: Clínica General del norte</li>
            <li>FVL: Fundación Valle de Lili</li>
        </ul>
        </div>
        <div>
            <p>
                Publicado el 26/06/2019 a las 11:26 a.m
            </p>
        </div>
    </body>
</html>